.btn-blue {
    color: $white;
    padding: 18px 30px;
    border-radius: $b-radius;
    border: none;
    background-color: $blue-regular;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    transition: 0.4s ease;
    &:hover {
        transform: scale(1.1);
        color: $white;
    }
}