* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
// Page-containers
.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 $container-space-lg;
    max-width: $container-exlg + ($container-space-lg * 2);
    @media screen and (max-width: $exlg) {
        max-width: $container-exlg + ($container-space-lg * 2);
        padding: 0 $container-space-lg;
    }
    @media screen and (max-width: $lg) {
        max-width: $container-lg + ($container-space-lg * 2);
        padding: 0 $container-space-lg;
    }
    @media screen and (max-width: $md) {
        max-width: $container-md + ($container-space-sm * 2);
        padding: 0 $container-space-sm;
    }
    @media screen and (max-width: $sm) {
        max-width: $container-sm + ($container-space-sm * 2);
        padding: 0 $container-space-sm;
    }
}

.container-page-service {
    margin: 0 auto;
    width: 100%;
    @media screen and (max-width: $exlg) {
        max-width: $container-page-service-exlg;
    }
    @media screen and (max-width: $lg) {
        max-width: $container-page-service-lg;
    }
    @media screen and (max-width: $sm) {
        padding: 0 $container-space-sm;
    }
}
// Tiles-container
.container-tiles {
    max-width: 1720px + 40px;
    margin: 0 auto;
}
// Hover-animation
.link_hover, path, circle {
    color: $blue-regular;
    transition: 0.5s ease;
    &:hover {
        color: $accent;
    }  
    &:hover path {
        stroke: $accent;
    }
}

// margin, padding
.mt-30 {
    margin-top: 30px;
}
.mb-30 {
    margin-bottom: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-6 {
    padding-bottom: 6px;
}


